@import "tailwindcss";

body{
    color: black;
    background-color: #F3F4EE;
    background-image: linear-gradient(to right, #DCDED3 1px, transparent 1px),
    linear-gradient(to bottom, #DCDED3 1px, transparent 1px);
    background-size: 26px 26px;
}